{% extends "front/base.html.twig" %}


{% block main %}


    <h2>        {{ category.name }}          </h2>
    <img src="{{ asset('media/' ~ category.media ) }}" alt="img">
    <p>        {{ category.description }}   </p>  


    {% for product in category.products %} {# car ds le fichier category.php on vois que le lien se fait via products#}
        <h3>
        {{product.name}}
        </h3>
        
    {% endfor %}
    

    
    
        
    




    
{% endblock %}