{% extends "front/base.html.twig" %}


{% block main %}


    <h2>        {{ category.name }}          </h2>
    <img src="{{ asset('media/' ~ category.media ) }}" alt="img">
    <h3>        {{ category.description }}   </h3>  
    

    
    
        
    




    
{% endblock %}